{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="row">
  <h1 class="display-3">Archeage Awakening Calculator</h1>
</div>
<br>
<div class="row">
  <p class="h4">
    Ever wondered how many attempts it will take to awaken your Archeage item? Unsure how to
    calculate the odds with increasing fail stacks? This calculator uses conditonal probability
    to calculate the # of attempts you will need to awaken your gear.
  </p>
</div>
<br>
<br>
  <form action="/" id="myForm" method="POST">

    {{ form.hidden_tag() }}

    <div class="row mb-4">
      <div class="col">
        <div id="awk_input">
          <div class="form-floating mb-4">
            {{form.awk(class="form-control", id='floatingInput', placeholder="30%")}}
            <label for="awk_input">{{form.awk.label}}</label>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary btn-lg mt-1" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="This is the success rate shown in the awakening panel when you try to awaken an item.">
          Info
        </button>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div id="fail_input">
          <div class="form-floating mb-3">
            {{form.fail(class="form-control", id='floatingInput', placeholder="30%")}}
            <label for="fail_input">{{form.fail.label}}</label>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary btn-lg mt-1" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="This is how much the bonus success rate goes up with every failure. You can check this after a failed attempt.">
          Info
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="suc_input">
          <div class="form-floating mb-3">
            {{form.suc(class="form-control", id='floatingInput', placeholder="30%")}}
            <label for="suc_input">{{form.suc.label}}</label>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary btn-lg mt-1" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Pick an awakening chance you are comfortable with. A higher percent will result in more attempts but more certainty. Lower percent will be less attempts but less certainty.">
          Info
        </button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" input type="">Calculate</button>

  </form>
  <br>
  <div id="success_alert" class="alert alert-success" role="alert" style="display:none;"></div>
  <div id="success_alert2" class="alert alert-success" role="alert" style="display:none;"></div>
  <div id="error_alert" class="alert alert-danger" role="alert" style="display:none;"></div>

{% endblock %}
